.jumbotron {
    padding-top: 20px;
}

.card {
    cursor: pointer;
    cursor: hand;
}

.table td {
    text-align: center;
}

table, thead, tr, tbody, th, td {
    text-align: center;
}

.table {
    border-radius: 5px;
    width: 70%;
    margin: 0px auto;
    float: none;
}